<p-panel header="Unit Conversion " class="contentBody">
    <div id="inputs">
        <p-select id="categorySelector" [options]="categories" [(ngModel)]="category" placeholder="select" class="w-full md:w-56" (onChange)="changeCategory()" />
        <p-inputgroup class="contentBody">
            <p-select id="unitSelector1" [editable]="true" [options]="lengthUnits" optionLabel="name" [(ngModel)]="selectedUnit1" placeholder="select" class="w-full md:w-56" (onChange)="calculate()" />
            <p-inputgroup-addon>
                <p-button icon="pi pi-arrow-right-arrow-left" severity="secondary" (click)="swapSelections()" />
            </p-inputgroup-addon>
            <p-select id="unitSelector2" [editable]="true" [options]="lengthUnits" optionLabel="name" [(ngModel)]="selectedUnit2" placeholder="select" class="w-full md:w-56" (onChange)="calculate()" />
        </p-inputgroup>
        <p-inputgroup class="contentBody">
            <p-inputnumber [(ngModel)]="ammount" placeholder="1" (keydown.enter)="calculate()" />
            <p-inputgroup-addon>
                <p-button icon="pi pi-sync" severity="secondary" (click)="calculate()" />
            </p-inputgroup-addon>
        </p-inputgroup>
    </div>
    <p-table [value]="tableData" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #body let-line>
            <tr>
                <td>{{ line[0] }}</td>
                <td>{{ line[1] }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>