<p-panel header="convert" class="contentBody">
    <p-inputgroup class="contentBody">
        <p-select [options]="currencies" [(ngModel)]="selectedCurrency" optionLabel="name" placeholder="select" class="w-full md:w-56" />
        <!--<p-inputnumber [(ngModel)]="number" placeholder="1" />-->
    </p-inputgroup>
    <!--<p-table [value]="currencies" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #body let-product>
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
    </p-table>-->
    Lorem ipsum 
</p-panel>