<p-panel header="Currency converter" class="contentBody">
    <div id="inputs">
        <p-inputgroup class="contentBody">
            <p-select id="currencySelector1" [editable]="true" [options]="currencies" [(ngModel)]="selectedCurrency1" placeholder="select" class="w-full md:w-56" />
            <p-inputgroup-addon>
                <p-button icon="pi pi-arrow-right-arrow-left" severity="secondary" (click)="swapSelections()" />
            </p-inputgroup-addon>
            <p-select id="currencySelector2" [editable]="true" [options]="currencies" [(ngModel)]="selectedCurrency2" placeholder="select" class="w-full md:w-56" />
        </p-inputgroup>
        <p-inputgroup class="contentBody">
            <p-inputnumber [(ngModel)]="ammount" placeholder="1" (keydown.enter)="fetchData()" />
            <p-inputgroup-addon>
                <p-button icon="pi pi-sync" severity="secondary" (click)="fetchData()" />
            </p-inputgroup-addon>
        </p-inputgroup>
        <p-progressSpinner *ngIf="isLoading" />
    </div>
    <p-table [value]="tableData" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #body let-line>
            <tr>
                <td>{{ line[0] }}</td>
                <td>{{ line[1] }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>